# Byte-compiled / optimized / DLL files
__pycache__/

# Dataset 
Dataset/
runs/

# Ignore files like checkpoints, caches, and virtual environments to keep the repository clean
*.py[cod]
.ipynb_checkpoints/
.env
.venv
env/
venv/
.env.bak/
venv.bak/
