absl-py==1.0.0  
antlr4-python3-runtime==4.9.3
anyio==3.6.2  
argon2-cffi==21.3.0
attrs==23.1.0
Babel==2.9.1
beautifulsoup4==4.12.0
bleach==4.1.0
certifi==2024.2.0
cffi==1.15.1
charset-normalizer==2.1.1
fsspec==2024.6.1
h5py==3.8.0
matplotlib==3.9.1
numpy==1.26.4
pandas==2.1.0
protobuf==4.25.3
scikit-image==0.24.0
scikit-learn==1.5.1
scipy==1.14.0
